.icon{
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    img:nth-child(2){
        position: absolute;
        top:-30px;
        left: -29px;
        display: none;
        z-index: 99;
    }
}
.icon:hover{
    img:nth-child(2){
        display: block!important;
    }
}
