.search{
    width: 400px;
}
//招标机构列表
#tender-list{
    tr td:nth-child(1){
        width: 5%
    }
    tr td:nth-child(2){
        width: 15%
    }
    tr td:nth-child(3){
        width: 15%
    }
    tr td:nth-child(4){
        width: 10%
    }
    tr td:nth-child(5){
        width: 15%
    }
    tr td:nth-child(6){
        width: 10%
    }
    tr td:nth-child(7){
        width: 10%
    }
    tr td:nth-child(8){
        width: 10%
    }
    tr td:nth-child(9){
        width: 10%
    }
}