.uploadDiv{
    position: relative;
    display: inline-block;
    img{
        display: block;
        cursor: pointer;
    }
    input[type=file]{
        display: block;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        left:0;
        top:0;
    }
}
.cropper{
    margin: 20px 0;
}
