body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
button {
	margin: 0;
	padding: 0
}
body {
	font: 12px punctuation, "微软雅黑", "Arial Narrow", HELVETICA;
	background: #fff;
	height: 100%;
	width: 100%;
}

a {
	color: #172c45;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #cd0200;
	text-decoration: none
}

em {
	font-style: normal
}

li {
	list-style: none
}

img {
	border: 0;
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

p {
	word-wrap: break-word
}

html {
	font-size: 50px;
	height: 100%;
}

input,
label,
button {
	-webkit-tap-highlight-color: transparent;
}

input[type='checkbox'] {
	cursor: pointer;
}

/*input[type='text'],
input[type='password'] {
	border: 0;
	outline: 0;
}*/

.btn.active {
	background: #00b8b1;
	border: 1px solid #00B8B1;
	color: #FFFFFF;
}


.mybtn:active {
	position: relative;
	top: 1px;
	left: 1px;
	box-shadow: inset 1px 1px 1px #a0a0a0;
}

.mybtn.active:active {
	box-shadow: inset 1px 1px 1px #999;
}
table th,
table td {
	text-align: center;
}

.row{
	margin: 0;
}

